@import "../../css/";
.button {
  border: none;
  outline: none;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem 1rem;

  font-size: 1rem;
}
.button_elements-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.button:hover {
  opacity: 0.7;
}
.button span {
  height: 100%;
  display: flex;
  align-items: center;
}
