@import "../../css/";
.range-input {
  -webkit-appearance: none;
  width: 100%;
  background: #dddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.range-input:hover {
  opacity: 1;
}
.range-input::-webkit-slider-thumb {
  appearance: none;
  width: 10px;
  height: 10px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 50px;
}
